.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 40px;
    background-color: #EFF3FC;
}

.header .logo img {
    width: 32px;
    height: 32px;
}

.nav-button {
    color: #1e3a8a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #eaf0ff;
    padding: 8px 14px;
    border-radius: 8px;
    transition: background 0.3s;
    border: none;
}

.nav-button:hover {
    background-color: #d6e3ff;
}